# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://api-tickets:!ChangeMe!@0.0.0.0:5434/api?serverVersion=13&charset=utf8"
SHADOW_DATABASE_URL=""

MQTT_HOST="localhost"
MQTT_PORT=1883
MQTT_CLIENT_ID="tickets"
